on: pull_request
  
name: Render-Book-from-PR

jobs:
  bookdown:
    name: Render-Book
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v1
      - uses: r-lib/actions/setup-r@v1
      - uses: r-lib/actions/setup-pandoc@v1
      - name: Install dependencies
        run: Rscript -e 'install.packages("remotes")' -e 'remotes::install_deps(dependencies = TRUE)'
      - name: Render Book
        run: Rscript -e 'bookdown::render_book("index.Rmd")'
      - name: Try skipping
        run: |
          fork=$(jq --raw-output .pull_request.head.repo.fork "${GITHUB_EVENT_PATH}")
          if [ $fork != true ]; then
             echo "This is a fork, no preview rendering"
             exit 78;
          else
             echo "This is not a fork, on to preview rendering"
          fi
          
  publish:
    name: Publish-Book
    runs-on: macOS-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Install Netlify CLI
        run: npm install netlify-cli -g
      - name: Deploy to Netlify (test)
        run: DEPLOY_URL=$(netlify deploy --site ${{ secrets.NETLIFY_SITE_ID }} --auth ${{ secrets.NETLIFY_AUTH_TOKEN }} --dir=docs --json | jq '.deploy_url' --raw-output);echo "::set-env name=DEPLOY_URL::$DEPLOY_URL"
      - name: Create commit comment
        uses: peter-evans/commit-comment@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          sha: ${{ github.event.pull_request.head.sha }} 
          body: |
            You can go look at [the preview][1]. :smile_cat:

            [1]: ${process.env.DEPLOY_URL}
